<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>shortURL</title>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <script src="https://cdn.staticfile.org/vue/2.4.2/vue.min.js"></script>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="https://cdn.staticfile.org/axios/0.18.0/axios.min.js"></script>
</head>
<body>
    <div id="app" >
        <el-form :model="ruleForm" :rules="rules" ref="ruleForm" :inline="true" :hide-required-asterisk="true"
                 class="demo-form-inline" style="display: flex;justify-content: flex-start">
            <el-form-item label="长网址" prop="input">
                    <el-input v-model="ruleForm.input" placeholder="输入URL"  :style="width">
                        <template slot="prepend">http://</template>
                    </el-input>
            </el-form-item>
            <el-form-item>
                <el-button type="primary" @click="onSubmit('ruleForm')" >转换</el-button>
            </el-form-item>
        </el-form>
        <el-form :inline="true" class="demo-form-inline">
            <el-form-item label=" 短网址">
                <el-input v-model="shortURL" :disabled="true" :style="width"> </el-input>
            </el-form-item>

        </el-form>

    </div>
</body>
<script>
    var Main = {
        data() {
            return {
                ruleForm:{
                    input: '',
                },
                rules:{
                    input:[{required: true, message: '请输入URL', trigger: 'blur'}]
                },
                shortURL: '请输入网址',
                width:""
            }
        },
        methods:{
            onSubmit(formName) {
                this.$refs[formName].validate((valid) => {
                    if (valid) {
                        var that = this;
                        console.log(this.input);
                        axios.get('http://localhost:9091/getShortURL',{
                            params:{longurl:"http://"+this.ruleForm.input}
                        }).then(function (response) {
                            console.log(response.data)
                            that.shortURL = "http://127.0.0.1:9091/"+response.data
                        })
                    } else {
                        return false;
                    }
                });
            },

        },
        mounted(){
            var width = document.body.clientWidth - 500;
            this.width = "width:"+width+"px"
        }
    }

    var Ctor = Vue.extend(Main)
    new Ctor().$mount('#app')
</script>
</html>